[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=shr-settings
TryExec=shr-settings
GenericName=Shr settings
Comment=Settings of Openmoko Phone and ophonekitd
StartupNotify=true
Exec=shr-settings
Terminal=false
Type=Application
Categories=Settings;Office;
Icon=shr_settings.png
