[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SHR Settings
TryExec=shr-settings
GenericName=Shr settings
Comment=Settings of SHR based Openmoko Phone
StartupNotify=true
Exec=shr-settings
Terminal=false
Type=Application
Categories=Settings;
Icon=shr_settings.png
